section {
  width: var(--content-width);
  height: 100%;
  margin: auto;
}

section .title {
  text-align: center;
  font-size: 1.6em;
  margin: 30px 0;
  height: 40px;
}

section .history-btn {
  position: absolute;
  font-size: 2em;
  height: 40px;
  line-height: 40px;
}

@media screen and (max-width: 800px) {
  section {
    width: 90%;
  }
  section .history-btn {
    display: none;
  }
}
